[Desktop Entry]
Type=Application
Name=Attack Shark
GenericName=Mouse Configuration
Comment=Configure Attack Shark mice
Exec=attack-shark --gui
Icon=attack-shark
Terminal=false
Categories=Settings;HardwareSettings;
Keywords=mouse;gaming;DPI;HID;Attack Shark;
StartupNotify=true
